// vim: set tw=80 fo=cqt wm=0:
doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='description' content='A blog entry')
    meta(name='author', content='My Name')

    title='Blog entry title'

    link(rel='stylesheet' type='text/css' href='index.css' media='screen,print')
    script(src='index.js')

  body

  .mm-root

    h1 A blog: <br/> Words, words, and more words
    h6 Wednesday, 29 May 1453

    .mm-head

      p.
        <i>The abstract</i> is placed here. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Praesent congue, justo condimentum rhoncus
        eleifend, odio mauris hendrerit est, ut hendrerit elit elit vitae quam.
        Fusce quam enim, dictum non erat id, sollicitudin sollicitudin lorem.
        Sed dictum convallis elit vitae accumsan. Aenean luctus porttitor lorem
        nec interdum. Phasellus eget dolor ex. Etiam imperdiet orci blandit
        magna tempor, non maximus nisl mollis. Etiam ultricies tincidunt dolor
        hendrerit tempus. Etiam at interdum lorem. Maecenas eleifend euismod
        pulvinar. Pellentesque commodo, purus quis hendrerit faucibus, tellus
        est porta sapien, non lacinia diam velit et elit.

    .mm-body

      p.
        <i>The first</i> <s>paragraph</s> is usually <em>first</em>. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Praesent congue, justo
        condimentum rhoncus eleifend, odio mauris hendrerit est, ut hendrerit
        elit elit vitae quam.  Fusce quam enim, dictum non erat id, sollicitudin
        sollicitudin lorem.  Sed dictum convallis elit vitae accumsan. Aenean
        luctus porttitor lorem nec interdum. Phasellus eget dolor ex. Etiam
        imperdiet orci blandit magna tempor, non maximus nisl mollis. Etiam
        ultricies tincidunt dolor hendrerit tempus. Etiam at interdum lorem.
        Maecenas eleifend euismod pulvinar. Pellentesque commodo, purus quis
        hendrerit faucibus, tellus est porta sapien, non lacinia diam velit et
        elit.

      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
        congue, justo condimentum rhoncus eleifend, odio mauris hendrerit est,
        ut hendrerit elit elit vitae quam.  Fusce quam enim, dictum non erat id,
        sollicitudin sollicitudin lorem.  Sed dictum convallis elit vitae
        accumsan. Aenean luctus porttitor lorem nec interdum. Phasellus eget
        dolor ex. Etiam imperdiet orci blandit magna tempor, non maximus nisl
        mollis. Etiam ultricies tincidunt dolor hendrerit tempus. Etiam at
        interdum lorem.  Maecenas eleifend euismod pulvinar. Pellentesque
        commodo, purus quis hendrerit faucibus, tellus est porta sapien, non
        lacinia diam velit et elit.

      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
        congue, justo condimentum rhoncus eleifend, odio mauris hendrerit est,
        ut hendrerit elit elit vitae quam.  Fusce quam enim, dictum non erat id,
        sollicitudin sollicitudin lorem.  Sed dictum convallis elit vitae
        accumsan. Aenean luctus porttitor lorem nec interdum. Phasellus eget
        dolor ex. Etiam imperdiet orci blandit magna tempor, non maximus nisl
        mollis. Etiam ultricies tincidunt dolor hendrerit tempus. Etiam at
        interdum lorem.  Maecenas eleifend euismod pulvinar. Pellentesque
        commodo, purus quis hendrerit faucibus, tellus est porta sapien, non
        lacinia diam velit et elit.

      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
        congue, justo condimentum rhoncus eleifend, odio mauris hendrerit est,
        ut hendrerit elit elit vitae quam.  Fusce quam enim, dictum non erat id,
        sollicitudin sollicitudin lorem.  Sed dictum convallis elit vitae
        accumsan. Aenean luctus porttitor lorem nec interdum. Phasellus eget
        dolor ex. Etiam imperdiet orci blandit magna tempor, non maximus nisl
        mollis. Etiam ultricies tincidunt dolor hendrerit tempus. Etiam at
        interdum lorem.  Maecenas eleifend euismod pulvinar. Pellentesque
        commodo, purus quis hendrerit faucibus, tellus est porta sapien, non
        lacinia diam velit et elit.

      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
        congue, justo condimentum rhoncus eleifend, odio mauris hendrerit est,
        ut hendrerit elit elit vitae quam.  Fusce quam enim, dictum non erat id,
        sollicitudin sollicitudin lorem.  Sed dictum convallis elit vitae
        accumsan. Aenean luctus porttitor lorem nec interdum. Phasellus eget
        dolor ex. Etiam imperdiet orci blandit magna tempor, non maximus nisl
        mollis. Etiam ultricies tincidunt dolor hendrerit tempus. Etiam at
        interdum lorem.  Maecenas eleifend euismod pulvinar. Pellentesque
        commodo, purus quis hendrerit faucibus, tellus est porta sapien, non
        lacinia diam velit et elit.
